name: Release

on:
  push:
    tags: ['v*']

permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x64

      - name: Build
        shell: cmd
        run: |
          cl.exe /nologo /std:c++17 /O2 /MP /MT /EHsc /W3 /DUNICODE /D_UNICODE /D_CRT_SECURE_NO_WARNINGS /I"." worker.cpp src/schema-manager.cpp src/rtti-hierarchy.cpp src/log.cpp /LD /Fe:"dezlock-worker.dll" /link /GUARD:NO user32.lib psapi.lib
          cl.exe /nologo /std:c++17 /O2 /MT /EHsc /W3 /DUNICODE /D_UNICODE /D_CRT_SECURE_NO_WARNINGS /I"." main.cpp /Fe:"dezlock-dump.exe" /link user32.lib advapi32.lib
          del /q *.obj 2>nul
          del /q *.exp 2>nul
          del /q *.lib 2>nul

      - name: Package
        run: Compress-Archive -Path dezlock-dump.exe, dezlock-worker.dll -DestinationPath dezlock-dump.zip

      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: |
            dezlock-dump.zip
            dezlock-dump.exe
            dezlock-worker.dll
